
.child{
   border: 1px solid black;
   margin-top: 20px;
}
div.img{
    display: flex;
    font-size: x-large;
    align-items: center;
    padding: 20px;

 } 
 .about_left1  img{
    
   border-radius: 50%;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
 }
 .about_left2 img{
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
 }
 .about_left3 img{
    border-radius: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
 }
 .about_right1  p{
    text-align: center;
    font-size: xx-large;
 }
 .about_right2  p{
    text-align: center;
    font-size: xx-large;
 }
 .about_right3  p{
    text-align: center;
    font-size: xx-large;
 }
.parent{
    border: 1px solid black;
    text-align: center;
    font-size: xx-large;
    background-color: navy;
    color: white;
}
.table{
   display: flex;
   margin-top: 8px;
   justify-content: space-around;
   width: 100%;  
   border-collapse: collapse; 
}
th{
   background-color: white;
   color: black;
   padding: 10px;
        
}
td {
   background-color: aqua; 
   color: #333; 
   padding: 10px;
}
th,td{
    padding: 20px 50px;
      text-align: center;
}

   